In [10]:
import yfinance as yf
tw2330 = yf.download('2330.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)
tw2303 = yf.download('2303.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)
tw2454 = yf.download('2454.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)  
tw2317 = yf.download('2317.TW', start='2024-01-01', end='2024-06-01',auto_adjust=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
tw2330.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98 entries, 2024-01-02 to 2024-05-31
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Close, 2330.TW)   98 non-null     float64
 1   (High, 2330.TW)    98 non-null     float64
 2   (Low, 2330.TW)     98 non-null     float64
 3   (Open, 2330.TW)    98 non-null     float64
 4   (Volume, 2330.TW)  98 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.6 KB

In [16]:
tw2330['Close']['2330.TW']
tw2330[('Close','2330.TW')]
tw2303[('Close','2303.TW')]
tw2454[('Close','2454.TW')]
tw2317[('Close','2317.TW')]

Date
2024-01-02    102.375000
2024-01-03    101.887505
2024-01-04    101.400002
2024-01-05    101.400002
2024-01-08     98.962502
                 ...
2024-05-27    180.375000
2024-05-28    180.862503
2024-05-29    175.987503
2024-05-30    172.087509
2024-05-31    167.699997
Name: (Close, 2317.TW), Length: 98, dtype: float64