https://www.perplexity.ai/search/72794e36-7b92-4a94-8fa2-8fd264bef9ad

In [ ]:
import pandas as pd
df = pd.read_csv('taiwan.csv')
display(df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國家      903 non-null    object
 1   日期      903 non-null    object
 2   總確診數    903 non-null    int64
 3   新增確診數   903 non-null    int64
 4   新增死亡數   903 non-null    int64
dtypes: int64(3), object(2)
memory usage: 35.4+ KB

In [ ]:
df[["日期","總確診數"]] #透過欄

             日期     總確診數
0    2020-01-16        0
1    2020-01-17        0
2    2020-01-18        0
3    2020-01-19        0
4    2020-01-20        0
..          ...      ...
898  2022-07-02  3837856
899  2022-07-03  3870528
900  2022-07-04  3893643
901  2022-07-05  3929627
902  2022-07-06  3964188

[903 rows x 2 columns]

In [22]:
df.iloc[:5]
df.loc[[0,1,2,3,4]]
df1 = df.iloc[700:710]
mask = df1['新增確診數'] >= 12
df1[mask]

     國家          日期   總確診數  新增確診數  新增死亡數
700  台灣  2021-12-16  16771     12      0
701  台灣  2021-12-17  16786     15      0
702  台灣  2021-12-18  16799     13      0
706  台灣  2021-12-22  16840     14      0
707  台灣  2021-12-23  16853     13      0
708  台灣  2021-12-24  16873     20      0
709  台灣  2021-12-25  16891     18      0